* {
	margin: 0;
}

html {
	color: #666;
	font-family: 'HKGroteskRegular', sans-serif;
	font-weight: normal;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1,
.h1 {
	font-size: 36px;
}

h2,
.h2 {
	font-size: 28px;
}

h3,
.h3 {
	font-size: 22px;
}

p {
	font-size: 18px;
	line-height: 1.6;
}

.small {
	font-family: 'HKGroteskRegular', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

a {
	color: #666;
	text-decoration: none;
	transition: all 300ms ease-in;
}

img {
	width: 100%;
}

/*  HEADER / NAV */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	letter-spacing: 0.5px;
	padding: 3rem 2rem;
}

nav a {
	display: inline-block;
}

/*  MAIN / SECTION */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

.hide-main {
	opacity: 0;
}

/*  CONTACT OVERLAY */
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #f2f2f2;
	margin: 0;
	height: 100vh;
	width: 100vw;
	z-index: 9999;
}

.overlay .logo::after {
	content: ' — Web Developer';
}

.contact-container a {
	color: #333;
	transition: color 150ms ease-in;
}

.contact-content {
	display: grid;
	grid-template-columns: 2rem 1fr 1fr 1fr 2rem;
	margin-top: 100px;
}

.contact-intro {
	grid-column: 2 / 4;
	color: #333;
	margin-top: 40px;
	margin-bottom: 30px;
}

.contact-links {
	grid-column: 1 / -1;
	color: #333;
	transition: color 150ms ease-in;
}

.contact-content a {
	display: block;
	padding: 1rem 2rem;
}

a.contact-email {
	/* background-color: rgba(247, 146, 160, 0.3); */
	border-bottom: 10px solid rgba(247, 146, 160, 0.3);
}

a.contact-email:hover {
	color: rgba(247, 146, 160, 1);
	transition: color 150ms ease-in;
}

a.contact-email::after {
	content: ' — sarahyu.work@gmail.com';
}

a.contact-linkedin {
	/* background-color: rgba(247, 177, 140, 0.3); */
	border-bottom: 10px solid rgba(247, 177, 140, 0.3);
}

a.contact-linkedin:hover {
	color: rgba(247, 177, 140, 1);
	transition: color 150ms ease-in;
}

a.contact-linkedin::after {
	content: ' — linkedin.com/in/sarah---yu';
}

a.contact-github {
	/* background-color: rgba(0, 176, 152, 0.3); */
	border-bottom: 10px solid rgba(0, 176, 152, 0.3);
}

a.contact-github:hover {
	color: rgba(0, 176, 152, 1);
	transition: color 150ms ease-in;
}

a.contact-github::after {
	content: ' — github.com/sarah-yu';
}

a.contact-resume {
	/* background-color: rgba(0, 104, 194, 0.3); */
	border-bottom: 10px solid rgba(0, 104, 194, 0.3);
}

a.contact-resume:hover {
	color: rgba(0, 104, 194, 1);
	transition: color 150ms ease-in;
}

a.contact-resume::after {
	content: ' — download pdf';
}

/*  ABOUT */
.about-container {
	display: grid;
	grid-template-columns: 15vw 1fr 15vw;
	min-height: 100vh;
	margin-top: 10vh;
}

.about-content {
	grid-column: 2 / -2;
	margin-top: 80px;
	font-size: 48px;
}

.scroll-down-icon {
	grid-column: 1 / -1;
	color: #888;
	margin-top: 20vh;
	text-align: center;
}

.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-6px);
	}
	60% {
		transform: translateY(-3px);
	}
}

/* PROJECT */
.project {
	display: grid;
	grid-template-columns: 15vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 15vw;
	margin: 100px 0;
}

.project-image {
	grid-column: 2 / -2;
	margin: 0 0 50px 0;
}

.project-info {
	grid-column: 2 / 4;
}

.project-name {
	color: #333;
	line-height: 1.4;
	margin-bottom: 8px;
}

.project-tech {
	margin-bottom: 10px;
}

.project-tech-button {
	display: inline-block;
	border: 1px solid #d3d3d3;
	color: #888;
	margin: 3px 3px 3px 0;
	padding: 1px 4px 0.3px 4px;
}

.project-description {
	grid-column: 5 / 9;
	margin-bottom: 50px;
	padding-left: 40px;
}

.project-links a:hover {
	opacity: 0.7;
	transition: all 300ms ease-in;
}

/*  MEDIA QUERIES */
@media screen and (max-width: 768px) {
	/*  ABOUT */
	.about-container {
		grid-template-columns: 10vw 1fr 10vw;
	}

	.about-content {
		grid-column: 2 / -2;
		font-size: 36px;
	}

	/* PROJECT */
	.project {
		grid-template-columns: 5vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5vw;
	}
}

@media screen and (max-width: 480px) {
	/*  CONTACT OVERLAY */
	.overlay .logo::after {
		content: '';
	}

	.contact-intro {
		grid-column: 2 / -2;
		font-size: 22px;
	}

	a.contact-email::after {
		content: '';
	}

	a.contact-linkedin::after {
		content: '';
	}

	a.contact-github::after {
		content: '';
	}

	a.contact-resume::after {
		content: '';
	}

	/*  ABOUT */
	.about-container {
		grid-template-columns: 8vw 1fr 8vw;
	}

	.about-content {
		font-size: 22px;
	}

	/* PROJECT */
	.project-info {
		grid-column: 2 / -2;
	}

	.project-description {
		grid-column: 2 / -2;
		margin-top: 30px;
		padding-left: 0;
	}
}
