html {
	background-color: #fff;
	color: #333;
	font-family: 'HKGroteskRegular', sans-serif;
	font-weight: normal;
}

*,
figure {
	margin: 0;
}

img {
	width: 100%;
}

h1,
.h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

p,
.p {
	font-size: 22px;
	line-height: 1.6;
}

.small {
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.highlight {
	color: #c85a54;
}

a {
	color: #333;
	text-decoration: none;
}

a.underline-link {
	border-bottom: 2px solid rgba(242, 242, 242, 0.5);
	transition: border-bottom 400ms ease-in-out;
}

a.underline-link:hover {
	border-bottom: 2px solid #c85a54;
	transition: border-bottom 400ms ease-in-out;
}

a.color-link {
	transition: color 300ms ease-in-out;
}

a.color-link:hover {
	color: #c85a54;
	transition: color 300ms ease-in-out;
}

/*-----  HEADER / NAV -----*/
header {
	position: fixed;
	top: 0;
	/*  to match body width */
	left: 5%;
	width: 90vw;
}

nav {
	display: flex;
	padding: 3rem 0 0 0;
}

nav a {
	display: inline-block;
	margin-right: 30px;
}

nav a:last-child {
	margin-right: 0;
}

nav .logo {
	margin-right: auto;
}

/*----- MAIN -----*/
main {
	width: 90vw;
	margin: 0 auto;
}

/*-----  ABOUT -----*/
#about {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20vh 1fr 20vh;
	margin-top: 75px;
	min-height: 100vh;
}

.about-content {
	grid-row: 2 / -2;
	line-height: 1.8;
}

/*-----  PROJECTS -----*/
.projects-heading {
	letter-spacing: 2px;
	margin-bottom: 100px;
	padding-top: 100px;
	text-transform: uppercase;
}

.project {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin-bottom: 20vh;
}

.project-img {
	grid-column: 2 / -2;
	margin-bottom: 30px;
}

.project-info {
	grid-column: 2 / -2;
}

.project-name {
	letter-spacing: 0.85px;
}

.project-tech {
	margin: 20px 0;
}

.project-tech-button {
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	margin: 3px 3px 3px 0;
	padding: 5px 7px 3px 7px;
}

.project-description {
	grid-column: 2 / -2;
}

.project-links {
	grid-column: 2 / -2;
	margin-top: 30px;
}

/*-----  CONTACT -----*/
.overlay {
	display: none;
	background-color: #ffbcaf;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	z-index: 9999;
}

.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.contact-container a {
	margin: 15px 0;
}

.contact-container .contact-open-close {
	font-size: 28px;
}

/*-----  FOOTER / INFO -----*/
.footer {
	min-height: 10vh;
	padding: 10px 20px;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.footer > a {
	display: inline-block;
	font-size: 22px;
	margin: 0 10px;
}

/*----- MEDIA QUERIES  -----*/
@media screen and (max-width: 768px) {
	h1,
	.h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 22px;
	}

	p {
		font-size: 18px;
	}

	a.underline-link {
		border-bottom: 2px solid rgba(242, 242, 242, 1);
	}

	/* PROJECTS */
	.project {
		grid-template-columns: 5vw 1fr 5vw;
	}
}

@media screen and (max-width: 480px) {
	h1,
	.h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 16px;
	}

	/*  ABOUT */
	#about {
		grid-template-rows: 10vh 1fr;
	}

	.about-content {
		grid-row: 2 / -1;
	}

	/* PROJECTS */
	.project {
		grid-template-columns: 0 1fr 0;
	}

	/* FOOTER */
	.footer {
		padding: 10px;
	}

	.footer > a {
		font-size: 16px;
	}
}
