body {
  font-family: 'Karla', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* header */
header {
  line-height: 1.8;
  margin: 40px;
  max-width: 880px;
}

h1 {
  font-weight: 400;
}

a {
  border-bottom: 2px solid #0000ff;
  color: #000000;
  text-decoration: none;
}

/* main */
main {
  margin: 40px 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  max-width: 400px;
  margin: 65px 40px;
}

.project-img {
  width: 400px;
}

img {
  height: 100%;
  width: 100%;
}

h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  line-height: 1.4;
}

/* footer */
footer {
    margin: 40px;
}

footer > a {
    border-bottom: none;
    display: block;
    float: left;
    padding: 5px;
}
